@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

body {
  margin: 0;
  padding: 0;
  padding-top: 80px;
  font-family: "Source Sans 3", sans-serif;
}

:root {
  --bg-color: #ffffff;
  --text-color: #222222;
  --bg-colorcarousselle: #d35b43;
  --bg-colorpanneau: rgb(247, 237, 210);
  --text-colorhome: #000000;
}

[data-theme="dark"] {
  --bg-color: #4b4b4b;
  --bg-colorcarousselle: #e79445;
  --bg-colorcommentaire: #666666;
  --bg-colorpanneau: #e0c086;
  --text-color: #000000;
  --text-colorhome: #ffffff;
}

/* Style global du body */
body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}
