.top-about {
  margin-top: 5em;
  gap: 15em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.h1about {
  margin-top: 2.5em;
}

.hww-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #7aad8d;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.378);
  border-radius: 1em;
  width: 25em;
  padding: 2em;
  gap: 2em;
}

.dwmud {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #e0c086;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.378);
  border-radius: 1em;
  width: 25em;
  height: 25em;
  padding: 2em;
  gap: 2em;
}
.dwmud ul {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  /* list-style: none; */
}

.bottom-about {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 5em;
}

.special-about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #c39444;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.378);
  border-radius: 1em;
  padding: 2em;
  gap: 5vw;
  width: 85vw;
}

.special-aboutTop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5vw;
  img {
    width: 35vw;
    height: auto;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.378);
    border-radius: 1em;
  }
  p {
    width: 25vw;
    margin-top: 8em;
  }
}

.special-aboutBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

.office-about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #5669bb;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.378);
  border-radius: 1em;
  padding: 2em;
  gap: 15em;
  img {
    width: 25em;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.378);
    border-radius: 1em;
  }
  p {
    margin-top: 3em;
  }
  margin-bottom: -4em;
}

@media (max-width: 992px) {
  .bottom-about {
    width: 100%;
    align-items: center;
  }

  .h1about {
    margin-top: 4em;
    text-align: center;
  }

  .top-about {
    width: 85vw;
    gap: 2em;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .hww-about,
  .dwmud {
    width: 100%;
    max-width: 25em;
    height: auto;
    align-items: center;
    text-align: center;
  }

  .special-about {
    box-sizing: border-box;
    width: 85vw;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 2em 1em;
  }

  .special-aboutTop {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 0;

    img {
      width: 65vw;
      height: auto;
    }

    p {
      width: 65vw;
      height: auto;
      margin-top: 2em;
      text-align: center;
    }
  }

  .office-about {
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-bottom: 0;
    text-align: center;
    width: 20em;

    img {
      width: 100%;
      max-width: 20em;
      height: auto;
    }

    p {
      width: 100%;
      margin-top: 0;
    }
  }

  .top-about p,
  .top-about li,
  .bottom-about p,
  .bottom-about li {
    font-size: 0.9em;
  }
}
