* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-video {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containercards {
  margin: 6rem auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  gap: 5em;
}

.cartes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  color: var(--text-colorhome);
}

.PhomePage {
  margin-top: 0.5em;
  width: 20rem;
}

.texte-video {
  font-size: 30px;
  font-family: "Cinzel", sans-serif;
  font-weight: 500;
  color: #ffffff;
}

.texte-video-container {
  position: absolute;
  left: 3%;
  bottom: 60%;
}

@media (max-width: 505px) {
  .texte-video {
    font-size: 1.5em;
  }
  .PhomePage {
    text-align: center;
    width: 17em;
  }
}
