* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-ml-tot {
  display: flex;
  justify-content: center;
  width: 95%;
  margin-bottom: 5em;
}

.container-ml {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 2em;
}

h1,
h2,
h3 {
  font-family: "Cinzel", serif;
}

p,
a {
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin-top: 5em;
  text-align: center;
}

p {
  margin-bottom: 15px;
  line-height: 1.6;
}

@media (max-width: 600px) {
  h1 {
    margin-top: 10em;
  }
}
