.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: white;
  color: black;
  padding: 30px;
  width: 420px;
  border-radius: 12px;
  border: transparent;
  position: relative;
  animation: fadeIn 0.3s ease;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 10px;
  background: none;
  border: none;
  color: black;
  font-size: 22px;
  cursor: pointer;
}

.modal-title {
  color: black;
  margin-bottom: 20px;
  font-size: 24px;
}

.modal-label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.modal-input {
  width: 100%;
  padding: 10px;
  background: lightgrey;
  color: black;
  border: transparent;
}

.modal-input:focus {
  outline: none;
  border-color: transparent;
}

.btn-confirm {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.btn-confirm:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-confirm:hover:not(:disabled) {
  background: linear-gradient(135deg, #d4af37, #9e7b2f);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
