@import "https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7f6;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

h2 {
  font-family: "Cinzel", serif;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.comments-section {
  background-color: #fff;
  padding: 30px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  position: relative;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  color: #333;
}

input,
textarea {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

button[type="submit"] {
  padding: 12px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #e0c086;
}

.average-rating {
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.stars {
  font-size: 1.5rem;
  color: #e0c086;
}

.comment-list {
  list-style-type: none;
  padding: 0;
}

.comment-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-item strong {
  font-size: 1.1rem;
  color: #333;
}

.comment-item em {
  font-size: 0.9rem;
  color: #666;
}

.comment-stay-dates {
  font-style: italic;
  color: #888;
}

.comment-rating {
  font-size: 1.5rem;
  color: #e0c086;
}

.comment-item p {
  color: #555;
  line-height: 1.6;
}

.star-rating {
  display: flex;
  gap: 5px;
}

.star {
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
  border: none;
  color: lightgrey;
  transition: transform 0.3s;
}

.star:hover {
  transform: scale(1.2);
}

.star.filled {
  color: #e0c086;
}

@media screen and (max-width: 992px) {
  .comments-section {
    width: 90%;
    padding: 20px;
  }

  .comment-form {
    gap: 15px;
  }

  .form-group input,
  .form-group textarea {
    font-size: 0.9rem;
  }

  .form-group label {
    font-size: 1rem;
  }

  .star-rating button {
    font-size: 1.2rem;
  }

  .comment-item {
    padding: 15px;
  }

  .comment-item strong {
    font-size: 1rem;
  }

  .comment-item em {
    font-size: 0.8rem;
  }

  .comment-stay-dates {
    font-size: 0.9rem;
  }

  .comment-rating {
    font-size: 1.1rem;
  }
}
