/* Fond semi-transparent derrière la modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

/* Boîte du formulaire */
.modal {
  background: linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ), /* couche blanche semi-transparente */
    url("../assets/images/AurumHorizonsLogoTransparent.png")
    /*bottom left -255px*/ bottom center / 1000px no-repeat;
  background-color: rgb(255, 255, 255);
  /*background-image: url("../assets/images/AurumHorizonsLogoTransparent.png");
  background-position: bottom center;
  background-repeat: no-repeat;*/
  background-size: 1200px /*980px*/;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
}

.background image {
  left: 20px;
  right: 20px;
}
/* Champs du formulaire */
form label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  opacity: 0.6;
}

/* Bouton d'envoi */
form button[type="submit"] {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #c39444;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
  padding: 5px 10px;
  line-height: 1;
}

.close-button:hover {
  color: #c39444;
}
