* {
  margin: 0;
}

.map-container {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100vh;
  margin-top: 10em;
  margin-bottom: 10em;
  border: solid 5px #e0c086;
}

.map {
  width: 50%;
  height: 100%;
}

.panneau {
  flex: 1;
  height: 98vh;
  overflow-y: auto;
}

.section-map {
  display: flex;
  justify-content: center;
}
