.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 1px 8px 1px #e0c086;
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.navbar__logo img {
  height: 50px;
  width: auto;
  object-fit: contain;
  cursor: pointer;
}

.navbar__links-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-left: 2rem;
  transition: all 0.3s ease-in-out;
}

.navbar__links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.navbar__links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.2s ease;
  font-family: "Cinzel", sans-serif;
  font-weight: 500;
}

.navbar__logo-text {
  font-family: "Cinzel", serif;
  font-weight: 700;
}

.navbar__links a:hover {
  color: #e0c086;
}

.navbar__links--left {
  justify-content: flex-start;
}

.navbar__links--right {
  justify-content: flex-end;
}

.navbar__toggle {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1010;
}

.navbar__toggle span {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 2px;
  transition: all 0.3s linear;
  transform-origin: 1px;
}

.navbar__toggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.navbar__toggle.open span:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}
.navbar__toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 505px) {
  .navbar__toggle {
    display: flex;
  }

  .navbar__links-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 25%;
    width: 50%;
    flex-direction: column;
    align-items: center;
    padding: 0.2rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0.315);
    backdrop-filter: blur(5px);
    border: 2px solid #c39444;
    border-radius: 2em;
  }

  .navbar__links-container.open {
    display: flex;
  }

  .navbar__links {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
  }

  .navbar__links--left,
  .navbar__links--right {
    justify-content: center;
    width: 100%;
    margin-top: 1em;
  }
}
