.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 85%;
  max-width: 75rem;
  margin: 0 auto;
  position: relative;
}

.carousel-container {
  overflow: hidden;
  width: 100%;
  padding: 10px 0;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-card {
  min-width: calc(100% / 3);
  padding: 0 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  position: relative;

  width: 15rem;
  height: 18.75rem;
  flex-shrink: 0;

  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.125);
  cursor: pointer;
}

.card-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e0c086bf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
}

.card-overlay h3 {
  color: #000000;
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.4s ease-out;
}

.card-overlay p {
  color: #000000;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.4s ease-out;
}

.card-content:hover .card-overlay {
  opacity: 1;
}

.card-content:hover .card-overlay h3 {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.1s;
}

.card-content:hover .card-overlay p {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.2s;
}

.nav-btn {
  background: #e0c086;
  color: white;
  border: none;
  padding: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.2rem;
  transition: background 0.3s;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.nav-btn:hover {
  background: #7aad8d;
}

@media (max-width: 1333px) {
  .carousel-wrapper {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  .carousel-container {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .carousel-container::-webkit-scrollbar {
    display: none;
  }

  .carousel-track {
    width: auto;
    transform: none !important;
  }

  .carousel-card {
    min-width: 300px;
    scroll-snap-align: center;
    padding: 0 10px;
  }
}
